* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #f6f2ff;
  --pink-color: #da22ff;
  --purple-color: #9733ee;
  --purple-text: #b75af2;
  --orange-text: #ff7c7c;

}
@font-face {
  font-family: "Inter";
  src: url(./fonts/Inter-VariableFont_opsz\,wght.ttf);
}
body {
  font-family: "Inter" !important;
  background-color: var(--primary-color) !important;
}
.button {
  background: linear-gradient(
    to right,
    var(--pink-color),
    var(--purple-color)
  ) !important;
  box-shadow: 0px 6px 12px -6px #18274b1f !important;
}
.purple-text{
    color: var(--purple-text);
}
.orange-text{
    color: var(--orange-text);
}